doctype html
html(lang="en" class="antialiased")
  head
    title Countries of the World Resource App // derek rush
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="Snacks Test")
    meta(name="author" content="Derek Rush")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="/index.css")
  body(class="font-source-sans")
    div#root
    script(type="text/javascript" src="/index_bundle.js")